.fas {
  font-size: 256px;
  color: #30adb6;
}

.rotate-animation {
  animation-name: rotation;
  animation-duration: 500ms;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
